[2012-10-06 07:36] tfoote opened #2 "bad node names in rospy tutorials launch"
rospy_tutorials/003_listener_with_user_data$ roslaunch listener_with_user_data.launch

[code]

[2012-10-06 07:48] tfoote commented on #2
Also a problem in 004 and 006.

[2012-11-12 07:48] #2 closed, assigned to nobody

[2012-11-21 01:42] chadrockey opened #3 "turtlesim does not shut down correctly"
For this tutorial:
http://www.ros.org/wiki/ROS/Tutorials/UnderstandingNodes

Turtlesim doesn't seem to ctrl-c correctly and unassociate from the master, producing an error later on in the tutorial:

rosnode list
                /my_turtle
                /rosout
                /turtlesim

[2012-11-21 01:45] chadrockey opened #4 "turtlesim should use geometry_msgs/Twist and /cmd_vel"
In this tutorial:
http://www.ros.org/wiki/ROS/Tutorials/UnderstandingTopics

We seem to suggest that robots should implement their own command message (turtlesim/Velocity).  That's not correct, so we should show have turtlesim use /cmd_vel topics and geometry_msgs/Twist as is truly standard.  Users often start their own software based on tutorials, so we need to make sure the tutorials follow stan

[2012-11-21 20:36] ahendrix commented on #4
+1

[2012-12-05 09:37] dirk-thomas commented on #3
I can't reproduce the issue anymore. Likely it has been resolved with rospack 2.1.13 which removes wrongly installed signal handlers of the embedded Python interpreter.

[2012-12-05 09:37] #3 closed, assigned to nobody

[2012-12-05 09:39] dirk-thomas commented on #4
Either someone provides a complete patch to modify the code and the wiki accordingly or we should just add a note stating that to the existing tutorial.

[2013-02-04 23:34] jihoonl commented on #4
@dirk-thomas I just requested pull request to use Twist msg. Would you check it?

[2013-02-04 23:39] dirk-thomas commented on #4
Pull request #5

[2013-02-04 23:43] dirk-thomas commented on #4
Would you also update the pull request to use the `cmd_vel` topic?

[2013-02-04 23:48] jihoonl commented on #4
Change pushed.

[2013-02-05 01:46] dirk-thomas commented on #4
The patch has been merged. The Wiki page must be updated but only after a new release is in the public repo.

[2013-02-05 01:52] chadrockey commented on #4
For hydro right?  We don't want to risk that someone out there probably
depends on that message for their robot.... >:(

On Mon, Feb 4, 2013 at 5:46 PM, Dirk Thomas notifications@github.comwrote:

[2013-03-04 23:26] dirk-thomas commented on #4
Merged #7

[2013-03-04 23:26] #4 closed, assigned to nobody

[2013-03-28 20:14] tfoote opened #8 "removal of velocity breaks all the downstream tutorial packages"
403d4e792f6799c6c34f3d85548e441d1360c1e5  such as geometry_tutorials and common_tutorials. @jihoonl

[2013-03-28 20:14] tfoote commented on #8
This should never have been released without fixing all those packages.

[2013-03-28 23:07] jihoonl commented on #8
@tfoote  Hm... I did not know about it.  I have checked ros wiki 'Used By' to check dependencies in groovy. and there was only ros_tutorials.

I agree that it should keep the api for fuerte and electric though.

[2013-03-28 23:08] jihoonl commented on #8
Also it has not been released yet. I think Dirk plans to release it in hydro?

[2013-03-29 01:50] jihoonl commented on #8
Ah it is in shadow-fixed..

[2013-03-29 20:54] tfoote commented on #8
I have created hydro-devel with these changes integrated, and then reverted groovy-devel to not include them release 0.3.12.  It's building on the farm now.

[2013-03-29 23:04] tfoote commented on #8
Ok, it's building again.

[2013-03-29 23:04] #8 closed, assigned to nobody

[2013-07-24 06:09] ahendrix opened #9 "Wiki docs for turtlesim are out of date."
The ROS node docs (and possibly others) on the main page of the wiki don't reflect the update from velocity to `geometry_msgs/Twist` in _Hydro_.

This probably needs to be updated in the doxygen files in the source.

[2013-09-10 07:00] bulwahn opened #11 "Release of version 0.4.0 is missing some commits from groovy-devel"
Probably due to some branch confusion, some commits from 0.3.13 were dropped in version 0.4.0. I believe that the commits

66bd5c8dcb35c50612b5bd26d82e9c1113dae544
1e559b3f811a6cf3daac59088d6d86ca1d31b261
d75909cfceac2a78d27aac240ed759220abaccd2
a7de3a75f4df0433186639f113dcd13f45f542f6

from Dirk Thomas should be rebased to hydro-devel and a new version with these commits should be released.

Espe

[2013-09-11 22:18] tfoote commented on #11
I somehow failed to cherry-pick those commits when I forked.  They're in 0.4.1 now.

[2013-09-11 22:18] #11 closed, assigned to nobody

[2013-10-04 15:25] paulvarnell opened #12 "turtlesim does not install .svg images"
Turtlesim uses both .png and .svg images for turtles (currently the only .svg image is "hydro.svg"), but the cmake file only installs the .png images. The result of this is that occasionally a spawned turtle will not appear on screen.

In  turtlesim/CMakeLists.txt, the lines

[code]

should be changed to

[code]

[2013-10-04 17:31] #12 closed, assigned to dirk-thomas

[2013-10-04 17:33] dirk-thomas commented on #12
Thanks for the report. Fixed and released.

[2013-11-26 20:02] dirk-thomas commented on #9
Addressed in http://wiki.ros.org/turtlesim?action=diff&rev1=38&rev2=39

[2013-11-26 20:02] #9 closed, assigned to dirk-thomas

[2014-02-10 06:34] jihoonl opened #14 "roswiki turtlesim tutorial language mixed"
turtlesim tutorial wiki is written mix of chinese and english.

http://wiki.ros.org/turtlesim/Tutorials

[2014-02-10 07:59] tfoote commented on #14
It's using the FullSearchWithDescription macro which we have deprecated as it both overmatches as this ticket shows. and takes significant server time to render.

I'm replacing the results with direct links.

[2014-02-10 07:59] #14 closed, assigned to nobody

[2014-03-05 04:01] jihoonl opened #16 "turtlesim does not clean up its parameters when it terminates"
I noticed turtlesim_node sets background_r,g,b rosparam when it starts
but it does not deletes it when it dies.

[2014-03-05 18:27] dirk-thomas commented on #16
Parameters are conceptionally not being unset when the node which sets them goes away. There is no expectation that parameters are cleaned up by a node either.

`turtlesim` could set the rgb values to defined values when it starts up. But I would consider that syntactic sugar for this tutorial application. It could actually be considered a good example for the user that the parameters actually sta

[2014-03-05 18:27] #16 closed, assigned to nobody

[2014-03-06 00:13] jihoonl commented on #16
Ok. Thanks for answer.

[2015-02-03 11:53] robotpilot opened #20 "I suggest you to change the node names."
$ rosrun turtlesim turtlesim_node
$ rosrun turtlesim turtle_teleop_key

$ rosnode list
/rosout
/teleop_turtle
/turtlesim

We usually use the commands above. I think that a beginner confuse the node names, because executable node name and real name are different. The turtlesim package is one of the tutorials for beginner. So,  I suggest you to change the node names. How about that?
1. turtlesim_nod

[2015-02-03 17:14] dirk-thomas commented on #20
Currently the tutorial works with any ROS distro. Changing the naming would require the tutorial to be distro specific.

I am not sure if the small renaming justifies the additional user confusion of having separate tutorials. May be a note in the tutorial mentioning the mapping would be less disruptive.

[2015-02-04 00:21] robotpilot commented on #20
I heard above question from student in a brief question-and-answer period, courses.
but, your comment is reasonable opinion. I agree your comment.
Thanks dirk-thomas.

[2015-02-04 00:41] #20 closed, assigned to nobody

[2015-06-12 21:35] jarvisschultz opened #24 "Turtlesim /spawn service uses different coordinate system"
The numbers used when spawning a turtle via the `/spawn` service are sent directly to the `turtlesim::Turtle` constructor in Qt coordinates. All other numbers used in the various topics and services are in a different coordinate system; e.g., `/turtleX/pose` topics and `/turtleX/teleport_absolute` services. What this means is that teleporting a turtle to a given (x,y) and spawning a turtle at the

[2015-08-20 21:15] dirk-thomas commented on #24
Thank you for paying attention to details and for the pull request.

[2015-08-20 21:15] #24 closed, assigned to nobody

[2015-12-31 02:53] AlpNov opened #26 "Wrong documentation, turtlesim mimic subscribed to turtlesim/pose instead of cmd_vel"
According to this documentation http://wiki.ros.org/turtlesim#mimic, mimic subscribes to the cmd_vel topic of the turtle to be mimicked, instead of pose which is what the source code shows according to this source code: https://github.com/ros/ros_tutorials/blob/jade-devel/turtlesim/tutorials/mimic.cpp

Suggest to change the documentation in ros wiki to reflect the actual working of the program

[2016-01-07 20:06] dirk-thomas commented on #26
Thank you for paying attention to details. I have updated the wiki page accordingly: http://wiki.ros.org/action/diff/turtlesim?action=diff&rev1=41&rev2=42

In the future please feel free to edit the wiki page directly if you are confident about the change or propose a specific change using a ticket to get feedback before.

[2016-01-07 20:06] #26 closed, assigned to nobody

[2016-03-29 12:01] bg2d opened #30 "rosrun turtlesim turtlesim_node segmentation fault"
I am new to ROS. I am working through the beginner's tutorials. Version: ROS Indigo, OS Kubuntu 14.04. I was trying rosrun turtlesim turtlesim_node and the result was: Segmentation fault ( core dumped). What can I do? Thanks in advance.

[2016-03-29 15:14] dirk-thomas commented on #30
Please ask the question on answers.ros.org instead. Also provide more information on the exact steps you did, share your custom sources as well as try running it in gdb to get more information about the segfault.

You can post the link to answers here for the record and close the ticket when it's answered.

[2016-03-29 17:10] dirk-thomas commented on #30
You can post the link to answers here for the record and close the ticket when it's answered.

[2016-03-29 17:54] dirk-thomas commented on #30
Since the question was already asked before filling this ticket (http://answers.ros.org/question/230401/rosrun-turtlesim-turtlesim_node-segmentation-fault/) I will close this for now. If it turns out to be a problem in `ros_tutorials` it can be reopened.

[2016-03-29 17:54] #30 closed, assigned to nobody

[2016-05-17 11:02] weiweikong opened #32 "Why "subs_.push_back" in listener_with_userdata.cpp"
1. What is the meaing for `push_back()` here and why we use vector to manage the construction of the three different `chatterCallback`?
2. Why can not use the bellowing codes

[code]

to initialse the different callback function?

[2016-05-17 15:45] dirk-thomas commented on #32
The `subscribe` function returns a reference counted subscriber. When all copies of it go out of scope it will unsubscribe from the topic. Therefore the subscribers are stored in a vector to prevent them from going out of scope.

Please read the documentation of the function (`NodeHandle::subscribe`: http://docs.ros.org/indigo/api/roscpp/html/classros_1_1NodeHandle.html#a317fe4c05919e0bf3fb5162ccb

[2016-05-17 15:45] #32 closed, assigned to nobody

[2016-05-18 01:51] weiweikong commented on #32
@dirk-thomas thanks for your kind reply. There are still some confusions. More details please refer to http://answers.ros.org/question/234538/why-subs_push_back-in-listener_with_userdatacpp .

[2016-07-22 12:25] atuldiv opened #33 "Command vel genrated using teleop_twist_keyboard stops turtle but not robot"
Hello,

I have one issue in ROS
Using teleop_twist_keyboard we are generating cmd_vel messages(geometry_msgs/Twist) and this message are send to turtlesim_node where the turtle moves successfully.But if I suddenly stops sending command then the turtle stops moving .

Now similarly If I use teleop_twist_keyboard for my robot , I am sending cmd_vel to my robot then it moves successfully But If I sud

[2016-07-22 15:32] dirk-thomas commented on #33
Please ask questions on http://answers.ros.org

[2016-07-22 15:32] #33 closed, assigned to nobody

[2016-07-25 10:08] atuldiv commented on #33
Hello,

Yes I will definitely ask questions on given link.

Thanks and regards
- Atul Divekar
  09970588826

On Fri, Jul 22, 2016 at 9:02 PM, Dirk Thomas notifications@github.com
wrote:

[2017-02-09 14:15] ly11tea opened #38 "does node mimic really publish the topic /output subscribe the topic /input?"
In the document [here](http://wiki.ros.org/turtlesim),node mimic's Subscribed Topic is /input,Published topic is /output ,
but when i read the source code of mimic ,i found that node mimic subscribes the topic  input/pose, Publishes the topic output/cmd_vel.     where:
[code]
it could be confusing ,because if i remap the topic in the launch file i will Write:
[code]
but in the end,mimic code subsc

[2017-02-14 19:58] dirk-thomas commented on #38
I am not sure I understand your point. For each turtle there are topics `pose` and `cmd_vel` which are in the namespace of the turtle (e.g. `turtleX`). The same for the `mimic` node - it has two topics within the node names `input` and `output`.

Therefore you can either:
* remap the node namespace: `input` -> `turtlesim1/turtleN` and `output` -> `turtlesim1/turtleN`
* or remap the specific topics

[2017-03-06 19:32] dirk-thomas commented on #38
I will close this for now due to no response. Please feel free to comment here with additional information and the ticket can be reopened.

[2017-03-06 19:32] #38 closed, assigned to nobody

[2017-06-09 12:57] guchaojie opened #40 "keyboard cannot work when running "rosrun turtlesim turtle_teleop_key""
My enviroment is
NAME="Ubuntu"
VERSION="16.04.2 LTS (Xenial Xerus)"

kernel is  4.4.0-75-generic
 running step is:
1. roscore
2. rosrun  rosrun turtlesim turtlesim_node
3. rosrun turtlesim turtle_teleop_key
The result is :  keyboard cannot work to drive turtlebot move in simulator
 the root cause is
88     if(read(kfd, &c, 1) < 0)
 89     {
 91       perror("read():");
 92       exit(-1);
 93

[2017-06-09 15:48] dirk-thomas commented on #40
I am not sure I understand your problem. The line containing the `read` is waiting for keyboard events. It is supposed to block until you press any key, then the loop processes the event and waits for the next input. Please describe your problem with more details: what are the exact steps you do, what is the exact output, what are expecting, etc?

[2017-06-12 02:03] guchaojie commented on #40
I found the problem reason is that I put the turtlesim simulator in front of screen to enter keyboard,  the right way is to put terminal in front of screen as active to wait for keyboard event

[2017-06-12 02:03] #40 closed, assigned to nobody

[2017-11-10 01:47] weidongguo commented on #38
I had the same confusion when I read the tutorial <http://wiki.ros.org/ROS/Tutorials/UsingRqtconsoleRoslaunch> today.

It explicitly stated that `input` and `output `are topics. "Here we start the mimic node with the topics input and output renamed to turtlesim1 and turtlesim2. "

This is what confuses me. I think they shouldn't be called topics. They should be called **namspaces**.
Thinking of th

[2017-12-13 10:57] dirk-thomas commented on #38
@weidongguo Please consider to contribute to the wiki and improve the content you find confusing.

[2018-05-18 08:55] abhiyad opened #42 "How do we actually use SetPen service in a python file ?"
The OS call to rosservice call /turtle1/set_pen is not performing well.
Is there any alternate way to do so ?

[2018-05-18 12:25] dirk-thomas commented on #42
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2018-05-18 12:25] #42 closed, assigned to nobody

[2018-05-31 17:03] jarvisschultz opened #43 "Angle wrapping in draw_square.cpp"
Now that [this commit](https://github.com/ros/ros_tutorials/commit/b1f84c4902a1263381b83f7c41cca5cdc3f918dc) has been merged, the turtlesim is guaranteed for its pose to always be in [-pi, pi). However, when [checking if the turtle has reached its goal](https://github.com/ros/ros_tutorials/blob/821a8ae33c6da1a70e21453392f6980380f670f8/turtlesim/tutorials/draw_square.cpp#L29-L32), a simple `fabs` i

[2018-05-31 17:40] dirk-thomas commented on #43
`angles` is not part of the ROS core metapackage and therefore `ros_tutorials` can't use it.

Please consider to propose a patch to the tutorial code which implements a similar function to perform the correct check.

[2018-06-04 17:38] dirk-thomas commented on #43
Addressed by #46.

[2018-06-04 17:38] #43 closed, assigned to nobody

[2018-11-26 10:48] zhoulaifu opened #47 "The simulated turtle moves to a wrong direction with very large linear velocity"
The simulated turtle moves in a wrong direction if the linear velocity is very large. This issue can be reproduced with the following steps.

1. Launch in a terminal the ROS master node with `roscore`.
2. Launch in another terminal `turtlesim_node` with "rosrun turtlesim turtlesim_node`.
3.  Publish a message from the command line in a third terminal in the `/turtle1/cmd_vel` topic: `rostopic pub

[2018-12-14 05:11] zhoulaifu opened #48 "Data races in turtlesim"
I am testing the `turtlesim` package with ThreadSanitizer, aka TSan, a GCC/Clang feature for detecting data races. Below is one (among many) data race detected by TSan. The location of the error is shown (using -g option).

To reproduce the issue, compile the package with "-fsanitize=thread -g", launch turtlesim_node, and then you will see the data race warning.

[code]

[2018-12-25 08:17] betab0t commented on #47
seems like this behavior occurs also with smaller linear velocity values, the y-axis change is just too small to notice. i believe thats the root cause of this issue: https://github.com/ros/ros_tutorials/blob/2b1de43ba413bf59bbb7eb0578bf79e1721049de/turtlesim/src/turtle.cpp#L158
so as you can see even if orient_ is zero, still there will be movement on the y-axis. ill try to provide a PR soon...

[2018-12-26 17:19] dirk-thomas commented on #48
The two lines seem to point to the `QApplication` constructor and its `exec` function. I don't see what this package should do differently. Please consider to provide a pull request.

[2019-01-28 22:59] dirk-thomas commented on #48
I will go ahead and close the ticket due to no response. Please feel free to comment with the requested information and the ticket can be reopened.

[2019-01-28 22:59] #48 closed, assigned to nobody

[2019-02-04 22:07] dirk-thomas commented on #47
While the drawn line isn't very intuitive I don't think the result is wrong. Whenever the turtle hits the limit of the screen the position is clamped back into the visible range. In this case the distance is extremely large in x direction and due to floating point inaccuracy significant enough in y direction to travel to the border of the screen.

Since `turtlesim` is targeted to be a simple tutor

[2019-02-04 22:07] #47 closed, assigned to nobody

[2019-02-05 14:09] zhoulaifu commented on #47
I believe that the FP inaccuracy can be largely reduced if, in ros_tutorials/turtlesim/src/turtle.cpp, we change

[code]
to
[code]
This is based on the mathematical facts that sin(x+pi/2)=cos(x) and cos(x+pi/2)=-sin(x).    See https://en.wikipedia.org/wiki/List_of_trigonometric_identities for example.

[2019-02-05 15:47] dirk-thomas commented on #47
The proposed patch will indeed make the starting configuration better. But for any move with extreme speeds after a rotation the problem stays the same, see e.g. the result of the following sequence:

* `turtle_teleop_key`: once forward
* `turtle_teleop_key`: once left turn
* `turtle_teleop_key`: once forward
* `rostopic pub /turtle1/cmd_vel geometry_msgs/Twist '[10000000000000000,0,0]' '[0,0,0]'`

[2019-02-10 20:43] zhoulaifu commented on #47
The screenshot you showed  above (the one with `turtle_teleop_key`) should be as expected (and therefore, should not invalidate the proposed fix IMHO). If you review line160-168 of ros_tutorials/turtlesim/src/turtle.cpp:

[code]

To be sure, you can try commenting out the two lines with pos_.setX and pos_setY. I got this screenshot with your sequences of commands above:
<img width="503" alt="3c5f0

[2019-07-17 14:56] RicardoDanielCPinto commented on #38
Hey,
I found this issue because i got the same confusion and i didn't got the answer here but i did found it by my self.
What he's trying to say is that the input topic which is turtlesim1/turtle1/pose seems to be a position... "Pose"... But its not, if we check the type, it's "turtlesim/Pose" and if we check the data structure of this type we get:
float32 x
float32 y
float32 theta
float32 linear_

[2019-09-02 13:48] rishabh900 opened #54 "Segmentation fault in ros::NodeHandle::destruct()"
I am trying to spawn pr2(xacro) in empty world gazebo along with its controllers using pr2_controller_manager. But whenever I try to roslaunch it's launch file I get the following segmentation fault:-

`Thread 28 "gzserver" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff63ffd700 (LWP 13263)]
0x00007fffc96ac0ed in ros::NodeHandle::destruct() () from /opt/ros/kinetic/lib/lib

[2019-09-02 14:28] dirk-thomas commented on #54
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2019-09-02 14:28] #54 closed, assigned to nobody

[2019-09-26 16:00] maryaB-osr opened #61 "[ROS 2] Add actions to turtlesim"
Turtlesim doesn't have any actions, but I think it's important for the sake of the tutorials that it include at least one simple action. Actions are one of the core concepts that need to be introduced, and it would damage the tutorial set if we had to switch to another example just for the sake of explaining actions.

One simple action with some kind of feedback that users can see is all that's ne

[2019-09-27 17:02] jacobperron commented on #61
How about an action where the goal is to rotate on the spot to face a particular direction?
The interface could be defined as follows:

[code]

[2019-09-27 17:20] dirk-thomas commented on #61
I like the rotation idea. In general since any action is running for a bit what happens with other control input during that time? Canceling the running action on control input would probably be best to also show that part of actions.

Following [REP 103](https://www.ros.org/reps/rep-0103.html) the angle should be in radians instead of degrees.

Other messages in this package use `float32` and the

[2019-09-27 17:21] dirk-thomas commented on #61
Maybe name the action `RotateAbsolute.action` to match the teleportation services?

[2019-09-27 17:33] jacobperron commented on #61
@dirk-thomas All good suggestions. I'll move forward with implementation.

When another control input is received during the action, it might make more sense for the action to *abort* instead, as opposed to an explicit *cancel* input. Then the user is exposed to all possible terminal states.

[2019-09-27 23:03] jacobperron commented on #61
Action added in #62

[2019-09-30 12:59] maryaB-osr opened #63 "Typo in error message"
I don't have permission to fix this myself, but there's a typo in `turtlesim/src/turtle_frame.cpp` line 119

[code]

Needs to be `turtle`. This is an error message that will be seen by people going through the turtlesim tutorial, so it needs to be fixed.

[2019-09-30 17:39] #63 closed, assigned to nobody

[2019-09-30 17:56] dirk-thomas commented on #63
Fixed in #64.

[2019-10-02 20:42] #61 closed, assigned to jacobperron

[2019-10-03 06:41] wmmc88 opened #68 "background colour parameters get set to default always"
[This line](https://github.com/ros/ros_tutorials/blob/6d301ebdb62a1ad7ea4cc0562ae6219b136278f3/turtlesim/src/turtle_frame.cpp#L63) causes the parameters to get set the the default #defined values regardless if the values are set in the parameter server already or not. this makes it so that it is impossible to actually set the node to launch with a different background colour through a launch file.

[2019-10-05 04:37] wmmc88 commented on #68
@dirk-thomas shouldnt this be considered a bug as the wiki says that the parameters are in the private ns

[2019-10-16 00:41] maryaB-osr opened #71 "Trailing newline missing from show srv output"
Running
[code]
returns:
[code]
There is no trailing newline after the output.

[2019-10-16 00:59] maryaB-osr opened #72 "ros2 param set /turtlesim background_* needs to be "triggered""
See the [Understanding ROS 2 parameters](https://github.com/ros2/ros2_documentation/pull/347#discussion_r331814709) tutorial discussion.

Setting the background color parameter with
[code]
should update the turtlesim window immediately, but it needs to be triggered by calling
[code]
because of some leftover functionality from ROS 1.

[2019-10-17 20:15] mjcarroll opened #74 "[ros2] Add eloquent turtle logo"
Add the Eloquent turtle as an available option once art is ready.

[2019-10-17 20:23] dirk-thomas commented on #72
There is no way to change the background color without wiping all previous drawn lines. I am not sure if that is desired - to implicitly clear when changing the parameter?

[2019-10-17 20:31] maryaB-osr commented on #72
I think that's fine because now they'll have to explicitly clear anyway. I'm more concerned with the extra instructions, not what's actually happening. So if it can all be done at once (the clear and the color change) that's better.

[2019-10-17 20:39] dirk-thomas commented on #72
So just to be clear: every time a background color parameter is set the whole scene should be cleared implicitly / automatically?

[2019-10-17 20:45] maryaB-osr commented on #72
I don't think it _should_ be. If there's a way to make it happen without clearing the lines that would be best.

But, since you said there is no way to change the color without clearing the drawn lines, I'm fine with the whole screen being cleared as long as the background changes automatically.

I will just add a note to the tutorial that the lines will clear - that's much better than the 4 or 5

[2019-10-17 20:50] #71 closed, assigned to dirk-thomas

[2019-10-18 21:08] dirk-thomas commented on #72
#75 separates the background color from the painted turtle paths which makes it possible to update the former without resetting the later. Also the background is immediately redrawn when a parameter event occurs.

I hope this makes writing the tutorial easier (and also simpler for the users).

[2019-10-18 21:48] maryaB-osr commented on #72
Awesome! Thanks @dirk-thomas. I'll update the parameters tutorial once #75 is merged in

[2019-12-05 16:14] mjcarroll commented on #74
Closed by #77

[2019-12-05 16:14] #74 closed, assigned to mjcarroll

[2019-12-18 13:09] StefanFabian opened #79 "Python nodes ending in .py"
Currently, the [catkin python install](http://docs.ros.org/melodic/api/catkin/html/howto/format2/installing_python.html) how to explicitly states:

However, the tutorials create nodes ending in `.py`. Now, the question is: which one applies?
If they indeed should not end in `.py` (which I personally would support because as the author of the catkin howto wrote, that's an implementation detail and

[2020-01-02 17:55] dirk-thomas commented on #79
The recommendation from the `catkin` documentation makes sense since the user shouldn't need to know if the executable is a binary or a Python script (or something else).

Please consider to update the wiki pages with this recommendation and post the links to changes pages in this ticket.

This statement is much less clear imo. I don't think this is a generally accepted approach. I might be better

[2020-02-03 19:15] #72 closed, assigned to dirk-thomas

[2020-02-03 19:22] #68 closed, assigned to nobody

[2020-05-21 22:38] jacobperron opened #86 "[ROS 2] Invalid context error when stopping turtle_teleop_key"
Sometimes during the shutdown of turtle_teleop_key (i.e. Ctrl-C), we see the following error:

[code]

Looks like an issue with the signal handling logic.

I've seen the same behavior with Fast-RTPS and CycloneDDS.

[2020-05-28 20:45] ivanpauno commented on #86
Looks like duplicate of https://github.com/ros2/rclcpp/issues/1139.

[2020-06-15 18:34] Sridhar701Pitt commented on #72
I'm working through ros2 tutorials at [Understanding ROS 2 Parameters](https://index.ros.org/doc/ros2/Tutorials/Parameters/Understanding-ROS2-Parameters/#ros2params)
I still need to execute the `/clear` service to show the changes and it wasn't mentioned anywhere in the tutorial.
Edit: I'm using "Dashing" distro

[2020-06-15 18:47] dirk-thomas commented on #72
While a new version was tagged in this repo for Dashing (https://github.com/ros/ros_tutorials/commit/de7271c6ce920f989239f57dfdb380d01ce867d3) it doesn't seem it was ever released with `bloom`: https://github.com/ros/rosdistro/blob/05e1fa9b6510c9a71a65e8d786b37934e38539b9/dashing/distribution.yaml#L3493

@claireyywang Can you clarify since you did the upstream release?

[2020-06-16 16:45] claireyywang commented on #72
@dirk-thomas  honestly I don't remember if I did since it's been a while, but I can do a release now if that's the right move.

[2020-06-16 17:44] claireyywang commented on #72
released at https://github.com/ros/rosdistro/pull/25490

[2020-06-25 18:03] ivanpauno commented on #86
Closing in favor of https://github.com/ros2/rclcpp/issues/1139

[2020-06-25 18:03] #86 closed, assigned to nobody

[2020-07-10 20:47] jacobperron commented on #86
Note, this was a bug that came up during Foxy testing. It would be nice if a solution to ros2/rclcpp#1139 could be backported to Foxy.

[2020-07-12 17:55] agerami20 opened #92 "TurtleSim"
I cannot get turtlesim to work for the life of me. I have tried all the ros answers discussion but nothing works and it just messes with my system files. When I try to run the command: rosrun turtlesim turtlesim_node I get the error:
qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start b

[2020-07-13 16:17] dirk-thomas commented on #92
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2020-07-13 16:17] #92 closed, assigned to nobody

[2020-07-22 13:59] Tiryoh opened #93 "turtlesim: Support commanding the turtles with holonomic motion"
I made a change to turtlesim and support commanding the turtles with holonomic motion, like an omni-directional robot.

https://github.com/Tiryoh/omni_turtlesim_ros2

![Image from Gyazo](https://i.gyazo.com/974e67e38431b10c9985c9b033eed577.gif)

At first I was going to release it as a separate package, but I was advised to integrate it into this package (https://github.com/ros/rosdistro/pull/25854

[2020-07-22 17:21] dirk-thomas commented on #93
`turtlesim` is meant as an example demonstrating the concepts of ROS. It tries to be simple and easy to understand.

I don't see how strafing and changing the speed adds any value for beginners of ROS - on the opposite I think these additions would make the code more complex and difficult to understand.

What benefit would this feature bring to users when learning ROS?

@jacobperron FYI

[2020-07-22 20:37] jacobperron commented on #93
IIUC, allowing for holonomic motion in the simulator doesn't change the users experience going through the tutorials (assuming the turtlesim teleop node doesn't change; I don't think it should), but if someone wanted to command it in this way with another node they could.

I think there's value in allowing someone to experiment with their own controllers in a less constrained way. But it would be

[2020-07-23 10:03] Tiryoh commented on #93
@dirk-thomas, thank you for your responding.
@jacobperron, thank you for your comment.

Yes, I don't plan to change the users experience who are learning ROS through the tutorials through this update, and I have no plan to update the turtlesim teleop node.
I think it would be nice if the turtlesim node can receive linear.y twist messages in addition to the current function. The controller node in

[2020-07-23 15:42] dirk-thomas commented on #93
The screenshot indicated additional changes to the `teleop` node so I assumed those would also be part of the patch.

:+1:

@Tiryoh Please go ahead and create a pull request targeting the default branch and we can iterate on the patch if necessary.

[2020-07-29 01:27] Tiryoh commented on #93
@dirk-thomas I made a Pull Request #94.  Could you check it out?

[2020-07-31 22:20] dirk-thomas commented on #93
Addressed by #94.

[2020-07-31 22:20] #93 closed, assigned to nobody

[2020-09-09 00:35] pxalcantara opened #99 "[Enhancement] - Add a "Range color sensor""
Hi,

I was thinking about adding a sensor to get the color ahead of the turtle as a "range sensor" but, instead of getting the distance, once the turtlesim is just a 2D simulator, get the color in a defined distance. The image below shows the idea of the behavior.

![color_sensor](https://user-images.githubusercontent.com/9446625/92540058-d6331e80-f219-11ea-85f9-a1171fbfa1e9.png)

In the image is

[2020-09-10 17:14] dirk-thomas commented on #99
`turtlesim` is meant to be a simple interactive tutorial to teach the ROS basics. While there are many possible features which could be added I think they would also inevitably make it more complex and less easy to understand by new ROS users. Therefore I am leaning against adding this feature idea. Instead I would suggest to create your own package if you think this would be useful to a broad aud

[2020-09-11 00:06] pxalcantara commented on #99
Ok @dirk-thomas Thank you. I'll think in a way of, maybe, inherit from the turtlesim libraries or just use them and implement these new functionalities in another package.

[2020-09-11 00:06] #99 closed, assigned to nobody

[2020-10-09 09:08] zhoulaifu opened #101 "catkin_make error"
I cloned this repository to a local directory "try_ros/src", and then catkin_make produced an error below. Not sure how to work around it.   Any idea?

[code]

[2020-10-09 11:09] zhoulaifu commented on #101
In fact,  I could work around this problem with "catkin_make_isolated", but I am still interested in understanding why "catkin_make" does not work. Any clue?

[2020-10-09 14:28] dirk-thomas commented on #101
@zhoulaifu What branch / commit hash of this repository are you using?

[2020-10-13 15:56] sloretz opened #109 "ROS 2 port ros_tutorials, roscpp_tutorials, and rospy_tutorials?"
The packages ros_tutorials, roscpp_tutorials, and rospy_tutorials all have `COLCON_IGNORE` files in the ROS 2 branches. These have not been ported to ROS 2.

This is a ticket to decide if they should be ported, and if so how to go about it. The client library names are different in ROS 2 `rclpy` and `rclcpp` instead of `rospy` and `roscpp`, so at the very least they should be changed. It's possibl

[2020-10-13 15:58] dirk-thomas commented on #109
In ROS 2 tutorial-like packages are in different repositories: `ros2/demos` / `ros2/examples` / `ros2/tutorials`. That is why the tutorial packages in this repo have not been ported.

[2020-10-16 10:55] zhoulaifu commented on #101
I got the following with "git log -1"

[code]

[2020-10-16 16:18] dirk-thomas commented on #101
You error message

 states that you are using ROS Melodic. Therefore you should use the `melodic-devel` branch of this repository (not `noetic-devel` as shown by your latest comment). That being said this isn't causing your problem and there must be something else in your workspace `try_ros/src`. Please share complete reproducible steps.

E.g. the following works just fine:

* `mkdir -p /tmp/ws/sr

[2020-10-16 16:18] #101 closed, assigned to nobody

[2020-10-19 11:29] zhoulaifu commented on #101
Thanks for the detailed instructions!

I run these commands:

[code]
and got this error
[code]
Attached are the two log files referred to in the error message.
[CMakeError.log](https://github.com/ros/ros_tutorials/files/5401403/CMakeError.log)
[CMakeOutput.log](https://github.com/ros/ros_tutorials/files/5401405/CMakeOutput.log)

[2020-10-19 16:13] dirk-thomas commented on #101
I just copied these commands into a Docker image (`docker run -i -t osrf/ros:melodic-desktop-full`) and it builds the four packages just fine.

The full output of the `catkin_make` invocation (before this error) should provide more details. Please copy-n-paste the full output without leaving out parts.

[2020-10-21 21:23] samlaf opened #110 "turtlesim_node bug on slow computers"
The turtlesim_node simulator updates the position of the turtle at a frequency of 62.5 hz (once every 16 ms).
I'm running it through docker on a macbook air 2015, which is so crappy the simulator falls behind, causing bugs.
For example, hitting the teleop once (forward arrow), causes a velocity of 2 unit/s to be sent to the simulator, and according to the semantics of the simulator (http://wiki.ro

[2020-10-21 23:05] sloretz commented on #110
What ROS distro are you using?

[2020-10-22 01:01] samlaf commented on #110
Originally kinetic, but I also tried on noetic and I get the same bug.
In turtle_frame.cpp (https://github.com/ros/ros_tutorials/blob/noetic-devel/turtlesim/src/turtle_frame.cpp)
I changed the line
`update_timer_->setInterval(16);`
to
`update_timer_->setInterval(100);`

This lowers the update of the simulator to 10 hz.
The rotations are a bit choppier but at least this way forward velocity command

[2020-10-23 11:42] zhoulaifu commented on #101
Have not tried docker myself.  Here is what you asked -- the full outoput of the catkin_make

[code]

[2020-10-23 11:44] zhoulaifu commented on #101
BTW, maybe I should not have asked the question -- is ROS1 still supported?

[2020-10-23 16:44] dirk-thomas commented on #101
Can you please share the content of these two files:
* `/tmp/ws/src/ros_tutorials/ros_tutorials/CMakeLists.txt`
* `/tmp/ws/build/catkin_generated/metapackages/ros_tutorials/CMakeLists.txt`

Yes, you can find the support dates for each ROS 1 distro in [REP 3](https://www.ros.org/reps/rep-0003.html). That being said they are no new ROS 1 distributions planned after Noetic.

[2020-10-23 20:24] sloretz commented on #110
I'm surprised it's that slow on a 2015 macbook air. The `turtle_frame.cpp` code hasn't changed that much since the ROS Indigo release in 2014.

https://github.com/ros/ros_tutorials/compare/indigo-devel..noetic-devel#diff-ac97e1355dfb24394aba2ddae77bf89b072cdc21bb55adbea6ed939fc553b025

Any idea what part of the update is the most expensive on that machine?

[2020-10-27 21:26] samlaf commented on #110
I'm honestly not sure what's causing the problem anymore... I just checked `docker stats` and its saying I'm barely using 3% CPU...
![image](https://user-images.githubusercontent.com/9342524/97363698-5ae50500-1879-11eb-8178-f8507a4ad4b9.png)

Could it be a bug of docker on mac?

[2020-10-27 22:20] sloretz commented on #110
Maybe, or a GPU issue? Maybe software is unable to use the GPU from inside the docker container? Can it run any other GUI programs from inside the container - like RViz?

[2020-10-30 05:10] samlaf commented on #110
Does the simulator use a GPU??
I can run rqt fine, but RViz gives me this error:

[2020-11-02 16:04] sloretz commented on #110
Hmm, I'm not sure, but maybe. It might be that QT is trying to render using the CPU because it can't access the GPU, and that's really slow. If I understand correctly, the RViz error message means OGRE is trying and failing to use software rendering instead of the GPU. Does `glxgears` work inside the container?

It doesn't seem like there's something that can be fixed in this repo, so I'll close t

[2020-11-02 16:04] #110 closed, assigned to nobody

[2020-11-10 13:44] zhoulaifu commented on #101
[code]

[code]

[2020-11-19 05:03] dirk-thomas commented on #101
@zhoulaifu The CMake error indicates that you are using an outdated version of `catkin_pkg`. As of ros-infrastructure/catkin_pkg#274 the above difference in the `VERSION` should be handled properly. Since you are using Melodic you need to make sure you have an up-to-date version of the Debian package `python-catkin-pkg-modules` (and no custom version of `catkin_pkg` installed via `pip`).

@sloretz

[2020-12-01 11:51] addy1997 commented on #24
how to spawn the turtle at random locations?

[2020-12-01 15:09] jarvisschultz commented on #24
@addy1997 this question would be better asked on [answers.ros.org](https://answers.ros.org/) There are many more people reading those questions and trying to help people than in bug reports closed 5 years ago. You're more likely to get the help that you need, and any help you do receive is more likely to be helpful to others. Best of luck!

[2021-03-12 10:33] BenjaminNavarro opened #115 "Incorrect shebang for Python script with Noetic"
With Noetic, ROS has switched to Python 3 but the scripts in the tutorials still refer to `python`in their shebang:
[code]
but `python` doesn't exist on Ubuntu 20.04 so the script will just fail to run with:
[code]
Starting from Noetic the proper shebang is:
[code]
This should be fixed in this repo and in the wiki

[2021-03-12 23:52] mabelzhang commented on #115
This is actually by design. We document the python3 shebang specific to ROS here http://wiki.ros.org/UsingPython3/SourceCodeChanges#Changing_shebangs

`python` is the correct shebang. `catkin_install_python`, which is called from `CMakeLists.txt`, will automatically append the `3` as needed.

[2021-03-16 00:31] mabelzhang commented on #115
Closing as I think it has been answered. Feel free to reopen.

[2021-03-16 00:31] #115 closed, assigned to nobody

[2021-03-19 11:14] BenjaminNavarro commented on #115
Ok, I didn't know, probably because I mostly use C++ and not Python

[2021-03-24 18:15] 130s opened #116 "001_talker_listener/listener ends up error: "/usr/bin/env: ‘python’: No such file or directory""
I'm not (yet) super familliar with py2/3 conversion. That said I ran into this error when trying to run 001 tutorial on ROS Noetic.

[code]

FYI I've uploaded the Docker image where this repo is built in. You can do the same as above with:
[code]

<details><summary>Code status</summary>

[code]
</details>

[2021-03-24 18:21] 130s commented on #116
<details><summary>In case of need, Dockerfile used:</summary>

[code]
</details>

[2021-03-24 18:31] 130s commented on #116
Running the following (ref. [askubuntu.com#1296271](https://askubuntu.com/a/1296271/24203)) worked, which tells me the cause is not necessarilly in the code. So I'm closing.
[code]

[2021-03-24 18:31] #116 closed, assigned to nobody

[2021-04-14 23:16] sloretz opened #117 "[Rolling] Cannot use turtle_teleop_key arrow keys"
[code]

Steps to reproduce

In one terminal, launch turtlesim

[code]

In another terminal, launch `turtle_teleop_key`

[code]

Use the arrow keys. The turtle does not move.

[2021-04-14 23:42] sloretz commented on #117
User error, I had `ROS_DOMAIN_ID` set incorrectly in one of the terminals.

[2021-04-14 23:42] #117 closed, assigned to nobody

[2021-04-20 23:00] mjeronimo opened #119 "Turtle_teleop_key uses an inordinate amount of CPU"
Ubuntu 20.04
ROS 2 Rolling

Execute 'ros2 run turtlesim turtle_teleop_key' and view using 'top'. CPU utilization is very high. Reading the keyboard should be done in a more efficient manner.

[2021-04-21 16:29] sloretz commented on #119
I see the same behavior - about 25% to 27% CPU as reported by `top`. The CPU usage seems the same whether I'm pressing keys or not.

[2021-04-23 18:17] hidmic opened #120 "Missing rolling-devel branch"
There's a tutorial in Rolling that expects the `rolling-devel` branch to exist here, but there's none. We could drop that reference, but should there be a `rolling-devel` branch? I see no `master` nor `ros2` branch either. It appears we've been creating distro specific branches as we go here (e.g. see #100).

[2021-04-23 20:13] hidmic commented on #120
FYI @sloretz.

[2021-04-23 22:24] sloretz commented on #120
I'd be fine with any of `rolling-devel`, `master` or `main`. @mabelzhang Any preferences on branch name?

[2021-04-26 18:41] mabelzhang commented on #120
`rolling-devel` or `main` or `ros2` is fine. For an external contributor, maybe `ros2` is the most intuitive to create PRs? `main` could be ambiguous whether it's ROS 1 or 2.

[2021-05-13 17:01] clalancette commented on #119
This was fixed by #121, so closing.

[2021-05-13 17:01] #119 closed, assigned to nobody

[2021-05-23 07:19] zhangtianren opened #124 "a independent package.xml and CMakeList.xml for a single package ?"
## About Python ros package:
### i am not puzzled about the coding context , but the package building config has always troubling me all the time .
for example :
* 1, what i need to do if i need to use cv2 and cv2_bridge wihin my project
* 2, i need to subscribe image raw message from a camera's topic , what headers should be added into cmakelist and package?

recently , i meet a problem ,with bui

[2021-05-23 07:42] kurshakuz opened #125 "[ROS2-foxy] Cannot start turtlesim simulation and teleop nodes in one launch file"
Hello! I am interested in porting [Introduction to tf2](http://wiki.ros.org/tf2/Tutorials/Introduction%20to%20tf2) tutorial to ROS2, which is based on the turtlesim package. To do so, I wanted to port old turtlesim_tf2 package, but during the process I got stuck with one issue.

For some reason, I cannot start both turtlesim `turtlesim_node` and `turtle_teleop_key` nodes in one launch file. I trie

[2021-05-24 05:04] zhangtianren commented on #124
i have fix it by  remove the "catkin_python_setup()  " and setup.py

[2021-05-24 05:04] #124 closed, assigned to nobody

[2021-05-28 16:26] copyninja17 commented on #79
I believe users need to preserve the .py files because as they're following a tutorial they might need to change their codes later on. Here you might need to trade customizability with neatness.

[2021-05-30 19:11] StefanFabian commented on #79
The file extension has no influence on whether you can edit it or not.

[2021-05-31 10:30] copyninja17 commented on #79
But how will they know about the file type if there's no extension

[2021-05-31 11:22] StefanFabian commented on #79
The shebang should tell file explorers and you can always open it. The fact that it is in the source package makes it very likely that it's not a binary.

[2021-06-07 13:51] hidmic commented on #120
Don't have a strong opinion. But I do think we need to branch and get that tutorial fixed.

[2021-06-07 21:35] mabelzhang commented on #120
Looks like the one in common above is `rolling-devel`, which is also the expected branch. Feel free to create it -- or I can do that if you want. I guess it'd branch off of `galactic-devel`?

[2021-06-07 21:45] hidmic commented on #120
Just added `rolling-devel`, branching off of `galactic-devel`.

[2021-06-07 21:45] #120 closed, assigned to nobody

[2021-06-18 19:21] flynneva opened #126 "[ROS2 galactic windows] cannot start turtlesim - no Qt platform plugin could be initialized"
ive followed the ros2 galactic installation instructions (installed Qt 6.2.0 instead of 5.15.0) and set the proper env vars as stated in the instructions for windows.

I've confirmed that the `qwindows.dll` exists in the path below when I copy & paste it into a finder window....just it seems I am missing something else.

Any advice would be extremely helpful!

[code]

[2021-06-18 19:21] flynneva commented on #126
found this on stack overflow that sounds very similar to my problem: https://stackoverflow.com/questions/20495620/qt-5-1-1-application-failed-to-start-because-platform-plugin-windows-is-missi

[2021-06-18 19:32] flynneva commented on #126
going to install 5.15.0 and see if that fixes the problem

[2021-06-18 20:49] flynneva commented on #126
same problem with Qt 5.15.0 on windows.

[code]

[2021-06-28 02:09] tianb03 commented on #93
I just find out that the turtle is holonomic now.  Because I am teaching ROS these years so want to share some thoughts here though this issue is closed.

Introducing the holonomic movement into Turtlesim is great, it does not change the learning experience. And I also want this feature to test some easy multi-robot formation or cooperation stuff. **However, it brings in some confusion during lear

[2021-06-28 18:48] jacobperron commented on #93
@tianb03 Please avoid commenting on old and closed tickets since the comments will not be that visible. Prefer to open a new ticket (if there is not already one open).

Having an option to disable holonomic motion sounds okay to me. I would lean towards leaving the holonomic feature on by default though, so as to not break existing "out-of-box" behavior. Please consider proposing the change as a n

[2021-06-29 00:39] Tiryoh opened #127 "Adding holonomic motion disable (differential drive motion only) option to turtlesim"
I created the issue #93 and the related PR because I believe it will be useful in introducing beginners that it is possible to work with holonomic motion.
However, it seems that if this option is always enabled, it may sometimes disturb the learning process for beginning students.
This is not what I want to do.

_Originally posted by @tianb03 in https://github.com/ros/ros_tutorials/issues/93#issue

[2021-06-30 21:43] squizz617 opened #128 "[ros2 turtlesim] normalizeAngle takes double-sized data as float"
Hi.
In `turtle.cpp` for ros2 turtlesim, `normalizeAngle` takes a `float` as an argument.
However, the data passed into the function is of size `double` when the function is called, and gets truncated to become `nan`.
[code]

When a control program publishes to `/cmd_vel` a Twist message in which `angular.z` is set to a `double`-sized value, `normalizeAngle` ends up returning `nan`. As a result, `o

[2021-07-03 20:30] squizz617 opened #129 "[ros2 turtlesim] turtle.cpp needs to validate float32/float64 input variables"
There are many places in the code that assume control inputs (i.e., `x`, `y`, and `theta`) are valid floating point numbers. As a result, when one of `nan`, `-nan`, `inf` or `-inf` is given, the turtle's position becomes infeasible (e.g., `x` being `nan`), sometimes even become rendering it uncontrollable.

* Case 1: `teleport_absolute` service
  * In `Turtle::update()`, the requested `x` is direc

[2021-07-05 03:34] tianb03 commented on #127
Thanks for your efforts @Tiryoh , using rosparam is great!

[2021-07-07 22:07] jacobperron commented on #127
Using a ROS parameter to disable holonomic motions sounds okay to me.

[2021-08-13 20:13] Ehsan8994 commented on #126
I have same problem, this work for me maybe solve your problem. copy "qwindows.dll" from C:\dev\ros2_galactic\bin\platforms and replace it with the same in "C:\Qt\5.15.0\msvc2019_64\plugins\platforms".

[2021-08-16 07:26] icsl-Jeon commented on #126
It works! thank you

[2021-10-13 20:13] mattgpaul opened #135 "Error in teleop_turtle_key.cpp "E0349 no operator "=" matches these operands""
Was having failures with `colcon build --merge-install` for the tutorial workspace build. After finding the source of the first error that shows up under inspection, the error appears in the file of the title, on line 318. I pulled this from the repo, is there any fix to this? This error is causing the colcon build to fail.

[2021-10-19 05:29] vishalchawathe commented on #126
@Ehsan8994 Thanks Your workaround helped.

[2021-10-29 10:26] AniketWagh2001 commented on #126
@Ehsan8994  thanks this savedme

[2021-10-31 10:05] kurshakuz opened #136 "[ros2 turtlesim] incorrect /spawn srv autocompletion"
Typing following command and trying autocompletion (tab) produces following output:
[code]
[code]

However, adding an `x` after above statement, produces different output:
[code]
[code]

Executing any of them produces errors:
[code]

The expected and working example should look like the one below.
[code]

[2021-11-13 20:12] kurshakuz commented on #125
Apparently this is not an issue as a teleop node needs to have an access to keyboard capture and cannot be used in launch file. Closing

[2021-11-13 20:12] #125 closed, assigned to nobody

[2021-12-20 20:33] audrow commented on #136
I bet this is actually an error in https://github.com/ros2/ros2cli. I'm going to move this error over there.

[2021-12-20 20:39] #136 closed, assigned to nobody

[2021-12-20 20:43] audrow commented on #129
Hi @squizz617, thanks for making this issue. Feel free to make a PR with some or all of these fixes. If you do, you can @ me for a review.

[2021-12-24 20:50] jonathan-sung commented on #126
It worked! Thank you so much!

[2022-01-25 07:43] sequoia-hope commented on #135
I get this error too. It looks like the error has moved to line 323:

[code]

[2022-01-26 22:13] audrow commented on #135
Hi @bobleeswaggs and @tlalexander, a few questions to help us find the bug:

- What ROS distro are you using?
- What operating system are you using?
- Are you building from source or using binaries for your ROS 2 installation?

[2022-01-27 05:59] sequoia-hope commented on #135
Hi @audrow thanks for the reply.
It turns out I had been using foxy but was trying to build the code for galactic. I've installed galactic and now the code builds. So my mistake!
Since the code builds, perhaps this issue could be closed.
Thanks!

[2022-01-27 17:07] audrow commented on #135
@tlalexander, okay thanks for the update.

[2022-03-23 18:48] lepalom opened #138 "turtlesim without graphical frontend"
I have not found it, but I would like to ask if it would be possible to execute turtlesim_node without graphical frontend.

It sounds strange and let me explain a bit more.  I'm giving a ROS course and I would like to review the exercises of my students in a CI script, and AFAIK I cannot execute (or have sense) turtlesim_node without graphical (or can I?). So, just to test if a service or topic is

[2022-03-23 23:28] audrow commented on #138
I'm not sure. It seems like the turtlesim visualization is pretty tightly coupled with the program logic. I would bet that you can comment out the visualization without too much effort.

It might be nice to add a parameter to turtlesim that can disable visualization. I'm going to mark this as help wanted. @lepalom, if you'd like to make a PR for this, feel free to @ me for a review.

[2022-03-24 21:55] lepalom commented on #138
@audrow I have checked the sources and I guess that it can be possible. I cannot do it now, but maybe in summer I can .

[2022-04-05 15:29] ariharasudhanm opened #139 "Running roscore on ev3"
Could you able to run roscore on the ev3? because I'm facing a lot of issues.

[2022-04-05 22:27] audrow commented on #139
Hi @ariharasudhanm, I'm not sure this is the right place for this. Questions generally go to [ROS Answers](https://answers.ros.org/questions/) or the [Robotics Stack Exchange](https://robotics.stackexchange.com/). I think you'll have better luck there. Also, when you ask there, it would be helpful to give more context. Good luck!

[2022-04-05 22:27] #139 closed, assigned to nobody

[2022-05-11 17:47] sloretz commented on #126
I can reproduce on a fresh Windows machine. Maybe it's caused by the Windows packaging job building with 5.12.0, not 5.15.0 https://github.com/ros-infrastructure/ros2-cookbooks/blob/de9d4cc159f2c4402e4636c458ad4bc535d0610d/cookbooks/ros2_windows/recipes/qt5.rb#L74-L75

[2022-05-11 21:52] sloretz commented on #126
Installing Qt 5.12.12 resolves the issue for me. I opened a PR to update the ROS 2 install instructions: https://github.com/ros2/ros2_documentation/pull/2499

[2022-05-13 16:06] #126 closed, assigned to nobody

[2022-06-25 13:25] Tiryoh commented on #127
I'm closing this issue because the PR has been merged to the rolling branch.

https://github.com/ros/ros_tutorials/pull/131

Thanks @tianb03, @jacobperron, @audrow!

[2022-06-25 13:25] #127 closed, assigned to nobody

[2022-09-15 00:19] phlsphr opened #143 "Some tutorial code sets have no tutorials in the Wiki."
Some tutorial code folders appear to have no matching tutorials in the ROS Wiki.  An example is:
009_advanced_publish .

[2022-09-19 00:52] ppbrown opened #144 "README file?"
could we please have a top level README file for how to build these things?
I'm completely new to ros and catkin. I learn things best by seeing them work.
But I dont know how to get the build process to work here :(

[2022-09-19 18:28] audrow commented on #144
We have the documentation elsewhere.

Here's the documentation for building on ROS 1 (you can also find other tutorials [here](http://wiki.ros.org/ROS/Tutorials)):
http://wiki.ros.org/ROS/Tutorials/BuildingPackages

Here's documentation for ROS 2:
https://docs.ros.org/en/rolling/Tutorials/Beginner-Client-Libraries/Colcon-Tutorial.html

I'm going to mark this as help-wanted since it would be nice t

[2022-09-19 19:20] ppbrown commented on #144
thats fair... but how about just putting the info you put right here, into a top level readme file?

[2022-09-19 19:21] ppbrown commented on #144
although.. are both those links relevant? is the tutorial code here,  equally valid for both ROS1 and ROS2?

[2022-09-30 18:17] audrow commented on #144
Somewhat confusingly, this repo has both ROS 1 and ROS 2 branches, so both would apply to their corresponding branches.